<a href="/articles/new" class="new-article">Create a new article</a>
<% articles.forEach(function (article, i) { %>
  <ul>
    <li><a href="#"><%= article.title %></a></li>
    <li>Written by <%= article.author %></li>
    <li><%= article.categories.join(', ') %></li>
  </ul>
  <form action="/articles/" method="post" class="delete-article">
    <input type="submit" value="Delete this article">
  </form>
<% }) %>
