<style>
  body {
    background-image: url('http://www.clker.com/cliparts/S/6/X/Y/f/8/oliver-branch-hi.png');
    background-repeat: no-repeat;
  }
</style>
<h1>Welcome to Wiki</h1>
<ul>
  <li><a href="/articles/new">Wrtie a new article</a></li>
  <li><a href="/articles">All articles</a></li>
</ul>
<h3>See all articles about</h3>
<a href="/categories/science">Science</a>
<a href="/categories/arts">Arts</a>
<a href="/categories/society">Society</a>
<a href="/categories/business">Business</a>
