<style>
  h1 {
    font-family: 'Audiowide', crusive, sans-serif;
    font-size: 12rem;
    margin: 0 auto;
  }

  .home-page {
    text-align: center;
    margin: 40px auto;
  }

  blockquote {
    width: 600px;
    margin: 40px auto;
  }

  blockquote > footer {
    color: black;
  }

  p {
    font-size: 20px;
  }

  a {
    font-size: 20px;
  }
</style>
<div class="home-page">
  <h1>Welcome to Wiki</h1>
  <blockquote>
    <p>
      A Wiki is a website which allows collaborative modification of its content
      and structure directly from the web browser
    </p>
    <footer>Wikipedia</footer>
  </blockquote>
  <p>
    Would you like to <a href="/articles/new">Wrtie a new article?!</a>
  </p>
  <p>
    See what articles have been written in the worlds of
    <a href="/categories/science">Science</a>, <a href="/categories/arts">Arts</a>,
    <a href="/categories/society">Society</a>, and <a href="/categories/business">Business</a>
  </p>
</div>
