<style>
  h1 {
    font-family: 'Audiowide', crusive, sans-serif;
    font-size: 12rem;
    margin: 0 auto;
  }

  .home-page {
    text-align: center;
    margin: 0 auto;
  }

  p {
    font-size: 16px;
  }
</style>
<div class="home-page">
  <h1>Welcome to Wiki</h1>
  <p class="col-md-4">
    Wikipedia defines a 'Wiki as "...a website which allows collaborative
    modification of its content and structure directly from the web browser."
  </p>
  <p class="col-md-4">
    Would you like to <a href="/articles/new">Wrtie a new article</a>?!
  </p>
  <p class="col-md-4">
    See what articles have been written in the worlds of
    <a href="/categories/science">Science</a>, <a href="/categories/arts">Arts</a>,
    <a href="/categories/society">Society</a>, and <a href="/categories/business">Business</a>
  </p>
  <ul>
    <li></li>
    <li><a href="/articles">All articles</a></li>
  </ul>
  <h3>See all articles about</h3>
  <a href="/categories/science">Science</a>
  <a href="/categories/arts">Arts</a>
  <a href="/categories/society">Society</a>
  <a href="/categories/business">Business</a>
</div>
